.skill-section {
    display: flex;
    flex-wrap: wrap;
}

.skill-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skill-col {
    width: 33%;
}

.skill {
    margin-bottom: 10px;
}